
<section class="footer">
    <div class="footer-container">
      <div class="footer-content black-bg">
        <div class="footer-top">
          <div data-w-id="fba6a1ea-3ad6-b7be-642f-bb003d9f5c10" class="footer-top-left">
            
                <img src="images/Myphoto2.jpeg" loading="lazy" alt="" class="footer-avatar ds-1" />
           
            <div class="footer-top-infos">
              <h2 class="footer-top-title sub-heading-04">Naushil Khajanchi</h2>
              <div class="footer-top-subtitle body-03">Data Scientist/Anlayst • Machine Learning Engineer • Business Intelligence</div>
              <a href="index.html#" class="footer-envelopes w-inline-block">
                <img src="https://cdn.prod.website-files.com/663723e2b96f134e21a8fa4b/663723e2b96f134e21a8fa9a_Envelope.svg" loading="lazy" alt="" class="footer-envelope-icon" />
                <div class="footer-envelope-text">Email me</div>
              </a>
              <div class="footer-emailt">nkhajanc@usc.edu</div>
            </div>
          </div>
          <div data-w-id="fba6a1ea-3ad6-b7be-642f-bb003d9f5c1d" class="footer-top-right">
            <h2 class="footer-top-title2 heading-01">Lets Connect!</h2>
            <div class="footer-top-text body-02">I'm a passionate data scientist/analyst, BI specialist, and machine learning enthusiast with a knack for transforming data into actionable insights. I excel at solving complex problems and continuously embrace new technologies to drive innovation and informed decision-making.<br />
            </div>
            <div class="footer-social-list">
              <a href="https://github.com/Naushil7" target="_blank" class="footer-social op70 w-inline-block">
                <img src="svg/github.svg" loading="lazy" alt="" class="footer-social-icon ds-1" />
              </a>
              <a href="https://www.linkedin.com/in/naushilkhajanchi/" target="_blank" class="footer-social op70 w-inline-block">
                <img src="svg/linkedin.svg" loading="lazy" alt="" class="footer-social-icon ds-1" />
              </a>
              <a href="mailto:nkhajanc@usc.edu" target="_blank" class="footer-social op70 w-inline-block">
                <img src="svg/gmail.svg" loading="lazy" alt="" class="footer-social-icon ds-1" />
              </a>
            </div>
          </div>
        </div>
        <div data-w-id="fba6a1ea-3ad6-b7be-642f-bb003d9f5c3e" class="footer-copyright">
          <p class="footer-cp-text">© The same data reveals new insights when seen from a different perspective. :)</p> 
        </div>
      </div>
    </div>
  </section>