<div class="nav-wrapper">
  <a href="index.html" aria-current="page" class="navbar-brand op70 w-nav-brand w--current">
    <img
      src="/GitHub/images/logo.jpeg" height="1200px" width="1200px"
      loading="lazy" alt="" class="nav-logo" />
  </a>
  <nav role="navigation" class="menu-wrapper w-nav-menu">
    <div class="nav-links">
      <!-- <a href="#" class="nav-link">About</a> -->
      <a href="#projectSection" class="nav-link" class="nav-buton w-button">Project</a>
      <a href="#experience" class="nav-link" class="nav-buton w-button">Experience</a>
      <a href="#activities" class="nav-link" class="nav-buton w-button">Activities</a>
      
      <!-- <a href="blog.html" class="nav-link">Blog</a> -->
      <!-- <a href="contact-us.html" class="nav-link _02">Contact</a> -->
    </div>
    <div class="nav-log-in">
      <div class="nav-button">
        <a data-w-id="4dd956af-2a7e-6437-e1d3-50c2e459399f" href="#customFooter"
          class="nav-buton w-button">Let's Connect</a>
      </div>
    </div>
  </nav>
  <div class="menu-button w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>